@{
    ViewData["Title"] = "Admin Panel";
}
<h1>@ViewData["Title"]</h1>

<p>This is the admin panel I think?!.</p>

@{
    //TODO: what the fuck is binding???
}
<p>
    @Html.ActionLink("Create New", "ShowCreateForm", "AdminPanel", new { @class = "btn btn-primary" })
</p>
@model IEnumerable<PajoPhone.Models.PhoneModel>

<h2>PhoneModels</h2>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Explanations</th>
        <th>Color</th>
        <th>Price</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var phone in Model)
    {
        <tr>
            <td>@phone.Id</td>
            <td>@phone.Name</td>
            <td>@phone.Explanations</td>
            <td>@phone.Color</td>
            <td>@phone.Price</td>
            <td>
                @if (phone.ImageData != null && phone.ImageData.Length > 0)
                {
                    var base64Image = Convert.ToBase64String(phone.ImageData);
                    var imgSrc = $"data:image/jpeg;base64,{base64Image}";
                    <img src="@imgSrc" alt="Image" style="max-width: 100px; max-height: 100px;"/>
                }
                else
                {
                    <img src="@Url.Content("/Images/DefaultPhone.png")" alt="@phone.Name" style="max-width: 100px; max-height: 100px;"/>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "ShowEditForm", new { id = phone.Id }) |
                @Html.ActionLink("Delete", "ShowDeleteConfirmation", new { id = phone.Id })
            </td>
        </tr>
    }
    </tbody>
</table>