@model PajoPhone.Models.PhoneModel

<h2>Add a new PhoneModel</h2>

@using (Html.BeginForm("ProcessCreate", "AdminPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Explanations)
        @Html.TextBoxFor(model => model.Explanations, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Color)
        @Html.DropDownListFor(model => model.Color, new SelectList(Enum.GetValues(typeof(PajoPhone.Models.ColorEnum))), new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Price)
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control", type = "number", step = "0.01" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ImageFile, "Upload Image")
        <input type="file" name="ImageFile" class="form-control" id="imageFile" onchange="previewImage(event)"/>
        <br/>
        <img id="imagePreview" src="#" alt="Image Preview" width="200" height="200" style="display: none;"/>
    </div>
    <button type="submit" class="btn btn-primary">ShowCreateForm</button>
    @Html.ActionLink("Back to List", "AdminPanel")
}

@section Scripts {
    <script>
        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function(){
                var img = document.getElementById("imagePreview");
                img.src = reader.result;
                img.style.display = "block";  // Show the image preview element
            };
            reader.readAsDataURL(input.files[0]);
        }
    </script>
}