@model PajoPhone.Models.PhoneModel

<h2>Edit Form</h2>

@using (Html.BeginForm("ProcessEdit", "AdminPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Explanations)
        @Html.TextBoxFor(model => model.Explanations, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Color)
        @Html.DropDownListFor(model => model.Color, new SelectList(Enum.GetValues(typeof(PajoPhone.Models.ColorEnum))), new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Price)
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control", type = "number", step = "0.01" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ImageFile, "Upload Image")
        <input type="file" name="ImageFile" class="form-control" id="imageFile" onchange="previewImage(event)"/>
        <br/>
        @* <img id="imagePreview" src="@Url.Content(Model.ImagePath)" width="200" height="200" /> *@
        @if (Model.ImageData != null && Model.ImageData.Length > 0)
        {
            var base64Image = Convert.ToBase64String(Model.ImageData);
            var imgSrc = $"data:image/jpeg;base64,{base64Image}";
            <img id="imagePreview" src="@imgSrc" alt="Image"/>
        }
        else
        {
            <img id="imagePreview" src="@Url.Content("/Images/DefaultPhone.png")" alt="@Model.Name"/>
        }
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Back to List", "AdminPanel")
}

@section Scripts {
    <script>
        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function(){
                var img = document.getElementById("imagePreview");
                img.src = reader.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    </script>
}