@model PajoPhone.Models.PhoneModel

<h2>Edit PhoneModel</h2>

@using (Html.BeginForm("EditPost" , "AdminPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Explanations)
        @Html.TextBoxFor(model => model.Explanations, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Color)
        @Html.TextBoxFor(model => model.Color, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Price)
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ImageFile, "Upload Image")
        <input type="file" name="ImageFile" class="form-control" id="imageFile" onchange="previewImage(event)" />
        <br />
        <img id="imagePreview" src="@Url.Content(Model.ImagePath)" width="200" height="200" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Back to List", "AdminPanel")
}
@section Scripts {
    <script>
        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function(){
                var img = document.getElementById("imagePreview");
                img.src = reader.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    </script>
}